.footer-div {
    margin-top: 30px;
    background-color: black;
    width: 100%;
    position: relative;
    .container {
        color: white;
        .row {
            .doc-logo {
                margin-top: 30px;
                text-align: left;
            }
            .footer-text {
                text-align: left;
                font-size: 12px;
                font-weight: 400;
                margin-top: 20px;
                text-align: left;
                margin-bottom: 20px;
            }
            .copyright-text {
                font-size: 12px;
                text-align: left;
            }
            .footer-link {
                
                ul {
                    margin-right: 30px;
                    display: flex;
                    list-style: none;
                    float: right;
                    @media screen and (max-width: 756px) {
                        flex-direction: column;
                        float: left;
                        text-align: left;
                        padding: 0;
                    }
                    li {
                        
                        margin-left: 20px;
                        @media screen and (max-width: 1080px) {
                            font-size: 12px;
                        }
                        @media screen and (max-width: 756px) {
                            margin-left: 0;
                            margin-right: 20px;
                            margin-top: 10px;
                        }
                    }
                }
            }
            
        }
    }
}